.main {
  margin: 8rem 25rem 0 25rem;
  padding: 3rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 0.5rem;
}

.mother {
  background-color: rgb(181, 181, 181);
  border-radius: 0.5rem;
}

.complete {
  background-color: green;
  border-radius: 0.5rem;
}

.childTodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.icons {
  display: flex;
  gap: 0.5rem;
}

.icon {
  cursor: pointer;
  font-size: 1.5rem;
}
